version: 2
updates:
  - package-ecosystem: "bundler"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all-gems:
        patterns:
          - "*"
    open-pull-requests-limit: 10
